@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue montreal/PPNeueMontreal-Regular.woff2") format("woff2"),
       url("/fonts/neue montreal/PPNeueMontreal-Regular.woff") format("woff");
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue montreal/PPNeueMontreal-Bold.woff2") format("woff2"),
       url("/fonts/neue montreal/PPNeueMontreal-Bold.woff") format("woff");
       font-weight: 700;
       font-style: normal;
}

html {
  font-size: calc(100vw / 1728 * 10);
}

@media (max-width: 768px) { /* sm screens */
  html {
    font-size: calc(100vw / 375 * 10);
  }
}

@media (min-width: 769px) and (max-width: 1024px) { /* Tablets */
  html {
    font-size: calc(100vw / 1024 * 10);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Neue Montreal", sans-serif;
}

a, p {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.page-content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 6em 2em;
}

/* .page-content.hero {
  background: url('/Vilarnau x Palma Llopis-9.jpg') no-repeat 50% 50%;
  background-size: cover;
} */

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
}

h1 sup {
  position: relative;
  top: -20px;
  left: 10px;
  font-size: 1.5vw;
  letter-spacing: 0;
}

@media(max-width: 900px) {
  .page-content h1 {
    font-size: 10vw;
  }

  h1 sup {
    font-size: 4vw;
  }
}

