@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue montreal/PPNeueMontreal-Regular.woff2") format("woff2"),
       url("/fonts/neue montreal/PPNeueMontreal-Regular.woff") format("woff");
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/neue montreal/PPNeueMontreal-Bold.woff2") format("woff2"),
       url("/fonts/neue montreal/PPNeueMontreal-Bold.woff") format("woff");
       font-weight: 700;
       font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Neue Montreal", sans-serif;
}
